apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ombi
  name: ombi
  namespace: media
spec:
  template:
    metadata:
      labels:
        app: ombi
    spec:
      nodeSelector:
        kubernetes.io/hostname: worker-03
      containers:
        - image: lscr.io/linuxserver/ombi:development
          imagePullPolicy: Always
          name: ombi
          env:
          - name: TZ
            value: "Europe/Helsinki"
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"
          ports:
          - name: ombi-port
            containerPort: 3579
            protocol: TCP
          volumeMounts:
          - name: ombi-config
            mountPath: /config
          resources:
            requests:
              memory: 1Gi
              cpu: 50m
            limits:
              memory: 1500Mi
              cpu: 500m
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
      - name: ombi-config
        persistentVolumeClaim:
          claimName: "ombi-config"
  selector:
    matchLabels:
      app: ombi