apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kavita-config
  namespace: media
  labels:
    app: kavita
spec:
  accessModes:
   - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
  